@set('colors', {
  'black': 'bg-gray-900 text-white',
  'red': 'bg-red text-white'
})

@set('tag', as ?? 'button')

<{{ tag }}
  class="p-4 uppercase block text-center {{ colors[color ?? 'black'] }} {{ className ?? '' }}"

  @if(type)
    type="{{ type }}"
  @end

  @if(href)
    href="{{ href }}"
  @end

  @if(form)
    form="{{ form }}"
  @end

  @if(bindings?.['@click'])
    @click="{{ bindings['@click'] }}"
  @end
>
  {{{ await $slots.main() }}}
</{{ tag }}>
